################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AOM.FIFA.ManagerPlayer/.vs/AOM.FIFA.ManagerPlayer/v17
/AOM.FIFA.ManagerPlayer.Gateway/obj/Debug/net5.0
/AOM.FIFA.ManagerPlayer.Gateway/obj/Debug/net5.0
/AOM.FIFA.ManagerPlayer.Service/obj/Debug/net5.0
/src/AOM.FIFA.ManagerPlayer.Api/bin/Debug/net5.0
/src/AOM.FIFA.ManagerPlayer.Api/obj
/src/AOM.FIFA.ManagerPlayer.Application/obj/Debug/net5.0
/src/AOM.FIFA.ManagerPlayer.Application/bin/Debug/net5.0
/src/AOM.FIFA.ManagerPlayer.Application/obj
/src/AOM.FIFA.ManagerPlayer.Gateway/bin/Debug/net5.0
/src/AOM.FIFA.ManagerPlayer.Gateway/obj
/src/AOM.FIFA.ManagerPlayer.Service/bin/Debug/net5.0
/src/AOM.FIFA.ManagerPlayer.Service/obj
/src/AOM.FIFA.ManagerPlayer.Persistence/bin/Debug/net5.0
/src/AOM.FIFA.ManagerPlayer.Persistence/obj
/src/AOM.FIFA.ManagerPlayer.Logging/bin/Debug/net5.0
/src/AOM.FIFA.ManagerPlayer.Logging/obj
/src/AOM.FIFA.ManagerPlayer.Api/bin/Release/net5.0/es
/src/AOM.FIFA.ManagerPlayer.Api/bin/Release/net5.0/runtimes/unix/lib
/src/AOM.FIFA.ManagerPlayer.Api/bin/Release/net5.0/runtimes/win-arm/native
/src/AOM.FIFA.ManagerPlayer.Api/bin/Release/net5.0/runtimes/win/lib
/src/AOM.FIFA.ManagerPlayer.Api/bin/Release/net5.0/runtimes/win-x64/native
/src/AOM.FIFA.ManagerPlayer.Api/bin/Release/net5.0/runtimes/win-x86/native
/src/AOM.FIFA.ManagerPlayer.Api/bin/Release/net5.0/zh/Hangfire.Core.resources.dll
/src/AOM.FIFA.ManagerPlayer.Api/bin/Release/net5.0/runtimes/win-arm64/native
/src/AOM.FIFA.ManagerPlayer.Api/bin/Release/net5.0/zh-TW
/src/AOM.FIFA.ManagerPlayer.Api/bin/Release/net5.0
/src/AOM.FIFA.ManagerPlayer.Application/bin/Release/net5.0
/src/AOM.FIFA.ManagerPlayer.gRPCServer/bin
/src/AOM.FIFA.ManagerPlayer.gRPCServer/obj/Debug/net5.0
/src/AOM.FIFA.ManagerPlayer.gRPCServer/obj/Release/net5.0
/src/AOM.FIFA.ManagerPlayer.gRPCServer/obj
/src/AOM.FIFA.ManagerPlayer.Logging/bin/Release/net5.0
/src/AOM.FIFA.ManagerPlayer.Persistence/bin/Release/net5.0
/src/AOM.FIFA.ManagerPlayer.Persistence.Synchronization/bin/Debug/net5.0
/src/AOM.FIFA.ManagerPlayer.Persistence.Synchronization/obj/Debug/net5.0
/src/AOM.FIFA.ManagerPlayer.Persistence.Synchronization/obj
